// Import Bulma Core
@import "~bulma/sass/utilities/_all";

@import "brand";

// Setup Color Classes
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "yale": ($yale, $yale-invert),
  "dodger": ($dodger, $dodger-invert),
  "picton": ($picton, $picton-invert),
);

// Selection
::selection {
  background-color: rgba($picton, 1);
  color: $white;
}
::-moz-selection {
  background-color: rgba($picton, 1);
  color: $white;
}

// Grid
$grid: 1136px;
$widescreen: $grid;
$fullhd: $grid;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma & Buefy
@import "~bulma";
@import "~buefy/src/scss/buefy";

//*********
// APP.VUE
//*********

.title {
  strong {
    color: $text-strong;
  }
}

.subtitle {
  color: $text;
}

.nav {
  background-color: transparent;
}

.footer {
  background-color: $white;
}

.hero-head {
  .container.hero-text {
    margin-top: 80px;
    max-width: 800px;
  }
}

.hero-head,
.feature-block,
.footer {
  .container {
    @media screen and (max-width: 1000px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
