// Import Bulma Core
@import "~bulma/sass/utilities/_all";

@import "brand";

// Setup Color Classes
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "yale": ($yale, $yale-invert),
  "dodger": ($dodger, $dodger-invert),
  "picton": ($picton, $picton-invert),
);

// Grid
$grid: 1136px;
$widescreen: $grid;
$fullhd: $grid;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma & Buefy
@import "~bulma";
@import "~buefy/src/scss/buefy";

//*********
// APP.VUE
//*********

.title {
  strong {
    color: $text-strong;
  }
}

.subtitle {
  color: $text;
}

.nav {
  background-color: transparent;
}

.features {
  .feature-block {
    padding: 80px 0;

    &.block1 {
      background-color: darken($white, 0%);
    }

    &.block2 {
      background-color: darken($white, 2.5%);
    }

    &.block3 {
      background-color: darken($white, 5%);
    }

    &.block4 {
      background-color: darken($white, 7.5%);
    }
  }

  .columns {
    align-items: center;
  }
}

.button {
  &.is-attention {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11),  0 1px 3px rgba(0, 0, 0, .08);
    transition: box-shadow .2s ease, background-color .2s ease;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 7px 14px rgba(50, 50, 93, .1),  0 3px 6px rgba(0, 0, 0, .08);
    }
  }
}

.footer {
  background-color: $white;
}

.hero-head {
  .container.hero-text {
    margin-top: 80px;
    max-width: 800px;
  }
}

.hero-head,
.feature-block,
.footer {
  .container {
    @media screen and (max-width: 1000px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
